body.ext-ie6 { text-align: center; }

#page #outerHeader #header,
#page #outerContent #mainMenu,
#page #outerContent #content,
#page #outerFooter #footer { width: 900px; margin: 0px auto; text-align: left; }

.webListNone ul { margin-left: 0px; }
.webListNone,
.webListNone li { margin-bottom: 0px; }

.webSuccess { font-weight: bold; }

.webForm input,
.webForm textarea,
.webForm button {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
}
