.$cssClass form.fromAddress input.textBefore { width: 375px; color: $black; }
.$cssClass form.fromAddress input.vpsClearOnFocusBlurred { color: $gray; }
.$cssClass form.fromAddress input.submitOn { padding: 0px 5px; overflow: visible; }
.$cssClass .mapDirSuggestParent { margin-top: 30px; }
