.cssClass {
    height: 55px;
    background: url('/assets/web/images/mainMenuSeparator.jpg') no-repeat bottom right;
}
.cssClass ul li {
    float: left;
    background: url('/assets/web/images/mainMenuSeparator.jpg') no-repeat bottom left;
}
.cssClass ul li a {
    display: block;
    width: 154px;
    height: 30px;
    font-weight: bold;
    margin: 0px 0px 0px 1px;
    text-align: center;
    text-transform: uppercase;
    color: var(light);
    padding-top: 25px;
}
.cssClass ul li.current a,
.cssClass ul li a:hover {
    color: var(light);
    background: url('/assets/web/images/activeMenuItem.png') no-repeat top left;
}
