.cssClass {
    background: url('/assets/web/images/mainMenuSeparator.jpg') no-repeat bottom left;
}
.cssClass ul li {
    float: left;
    background: url('/assets/web/images/mainMenuSeparator.jpg') no-repeat bottom right;
}
.cssClass ul li a { font-weight: bold; text-transform: uppercase; }
.cssClass ul li a,
.cssClass ul li a:hover { color: var(light); }
.cssClass ul li .beforeMenu,
.cssClass ul li .afterMenu {
    display: block;
    float: left;
    width: 5px;
    height: 84px;
}
.cssClass ul li .menu {
    float: left;
    width: 146px;
    height: 84px;
    text-align: center;
}

.cssClass ul li a:hover .beforeMenu,
.cssClass ul li.current a .beforeMenu {
    background: url('/assets/web/images/mainMenuActiveLeft.jpg') no-repeat top left;
}
.cssClass ul li.current a .menu,
.cssClass ul li a:hover .menu {
    background: url('/assets/web/images/mainMenuActiveCenter.jpg') repeat-x top left;
}
.cssClass ul li.current a .afterMenu,
.cssClass ul li a:hover .afterMenu {
    background: url('/assets/web/images/mainMenuActiveRight.jpg') no-repeat top left;
}
