.cssClass ul li p {
    font-weight: bold;
    margin: 0px 0px 2px 0px;
    padding: 2px 7px 3px 7px;
    color: var(light);
    background: url('/assets/web/images/subMenuBg.png') no-repeat top left;
}
.cssClass ul li { margin-bottom: 0px; margin-left: 0px; }
.cssClass ul li a {
    display: block;
    width: 174px;
    height: 21px;
    font-weight: bold;
    margin: 0px 0px 0px 6px;
    padding: 1px 7px;
}
.cssClass ul li a:hover,
.cssClass ul li.current a {
    color: var(light);
    background: url('/assets/web/images/subSubMenuActiveBg.png') no-repeat top left;
}
.cssClass ul li ul li { margin-left: 15px; }
.cssClass ul li ul li.last { margin-bottom: 10px; }
.cssClass ul li.current ul li a { color: var(mainColor); background: none; }
.cssClass ul li.current ul li a:hover,
.cssClass ul li.current ul li.current a {
    color: var(light) !important;
    background: url('/assets/web/images/subSubMenuActiveBg.png') no-repeat top left !important;
}
